<h2 class="page-header">Programs</h2>
<a *ngIf="user && user.isStaff" class="btn btn-primary" [routerLink]="['/program']">Add Program</a>
<div *ngIf="programs && user">
    <ul class="list-group">
        <li *ngFor="let program of programs; let i = index" class="list-group-item">
            <ul class="list-group">
                <h4 class="list-group-item">Program: {{program.description}}</h4>
                <li class="list-group-item">Start Date: {{program.startDate.substring(0,10)}}</li>
                <li class="list-group-item">End Date: {{program.endDate.substring(0,10)}}</li>
                <li class="list-group-item">Days of Week: {{program.daysOfWeek}}</li>
                <li class="list-group-item">Start Time: {{program.startTime}}</li>
                <li class="list-group-item">End Time: {{program.endTime}}</li>
                <li class="list-group-item">Location: {{program.location}}</li>
                <li *ngIf="user.isMember" class="list-group-item">Price: ${{program.memberPrice}}</li>
                <li *ngIf="!user.isMember" class="list-group-item">Price: ${{program.nonMemberPrice}}</li>
                <li class="list-group-item">Maximum participants: {{program.capacity}}</li>
                <span *ngFor="let preReq of program.preRequisites">
                    <li class="list-group-item">Must have passed {{preReq}} level before.</li>
                </span>
            </ul>
            <a *ngIf="user.isStaff" class="btn btn-primary mr-1" [routerLink]="['/program', { id: program._id } ]">Edit Program</a>
            <a *ngIf="user.isStaff" class="btn btn-primary" (click)="deleteProgram(program._id, i)">Delete Program</a>
        </li>
    </ul>
</div>
<h4 *ngIf="!programs">No Programs in system</h4>

