<li class="list-group-item">
    <ul class="list-group mb-1">
        <h4 class="list-group-flush">Program: {{program.name}}</h4>
        <li class="list-group-item">Start Date: {{program.startDate.substring(0,10)}}</li>
        <li class="list-group-item">End Date: {{program.endDate.substring(0,10)}}</li>
        <li class="list-group-item">Days of Week: {{program.daysOfWeek}}</li>
        <li class="list-group-item">Start Time: {{program.startTime}}</li>
        <li class="list-group-item">End Time: {{program.endTime}}</li>
        <li class="list-group-item">Location: {{program.location}}</li>
        <li *ngIf="user.isMember" class="list-group-item">Price: ${{program.memberPrice}}</li>
        <li *ngIf="!user.isMember" class="list-group-item">Price: ${{program.nonMemberPrice}}</li>
        <li *ngIf="registrations" class="list-group-item">Enrollment: {{registrations.length}}/{{program.capacity}}</li>
        <li *ngFor="let preReq of program.preRequisites" class="list-group-item">Must have passed {{preReq}} level before.</li>
        <li class="list-group-item" >
            Registered Participants by Username:
            <ul>
                <li *ngFor="let registration of registrations">{{registration.username}}</li>
            </ul>
        </li>
    </ul>
    <a class="btn" [ngClass]="(enrollStatus) ? 'btn-danger' : 'btn-success'" (click)="onClickRegister()">
        {{(enrollStatus) ? "Un-Register" : "Register"}}
    </a>
    <a *ngIf="user.isStaff" class="btn btn-primary float-right" [routerLink]="['/edit-program', { id: program._id } ]">
        Edit Program
    </a>
</li>