<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand">YMCA</a>
    <div class="" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/']">Home</a>
            <a *ngIf="!authService.loggedIn()" class="nav-item nav-link" [routerLink]="['/login']">Login</a>
            <a *ngIf="!authService.loggedIn()" class="nav-item nav-link" [routerLink]="['/register']">Register</a>
            <a *ngIf="authService.loggedIn()" class="nav-item nav-link" [routerLink]="['/profile']">Profile</a>
            <a *ngIf="authService.loggedIn()" class="nav-item nav-link" [routerLink]="['/programs']">Programs</a>
            <a *ngIf="authService.loggedIn() && ((authService.user && authService.user.isStaff) || (user && user.isStaff))" class="nav-item nav-link" [routerLink]="['/users']">Users</a> 
            <a class="nav-item nav-link" [routerLink]="['/help']" fragment="{{getFragment()}}" >Help</a>
            <a *ngIf="authService.loggedIn()" class="nav-item nav-link logout" (click)="onLogoutClick()">Logout</a>
        </div>

    </div>
</nav>